{
  "extends": "react-app",
  "parser": "@typescript-eslint/parser",
  "rules": {
    "jsx-quotes": [1, "prefer-double"]
  },
  "plugins": [
    "@typescript-eslint",
    "prettier",
    "react-hooks"
  ]
}
