.app-name {
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
}
.header {
  border-bottom: 1px solid darkslategray;
  padding: 16px 0;
  &-col {
    display: flex;
    align-items: center;
  }
  .header-right {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
  }
}